body {
  font:  sans-serif;
  color: rgba(0,0,0,0.9);
  text-align: left;
  top: 15%;
  background: transparent;
  background-image: 'wooden-board.jpg';
}
ul {
  padding-left: 0
}

ul li {
  list-style-position: inside;
}

h1 {
    font: 600 3.5em , sans-serif;
    color: rgba(0,0,0);
    text-align: left;
    letter-spacing: 0em;
    width: 100%;
}

h2 {
    font:  sans-serif;
    color: rgba(0,0,0,.9);
    text-align: left;
    letter-spacing: 0.01em;

}
footer{
    background: grey;
}